/* Theme Abriko & Nwa */
body {
  background-color: #000; /* nwa */
  color: #FF9933; /* jon abrikot */
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #FF9933;
  color: #000;
  padding: 10px;
  text-align: center;
}

a {
  color: #FF9933;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
